body, footer {
    max-width: 960px;
}

body {
    margin: auto;
    min-height: 100%;
}

h3 {
    font-size: smaller !important;
    font-style: oblique;
    text-align: center;
}

h4 {
    text-indent: 1em;
    margin-bottom: .5em;
}

[contenteditable] {
    font: larger monospace !important;
    border-width: 3px !important;
    border-style: groove !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 16em;
    max-width: 16em;
}

table {
    padding: 0 .25em;
}

td, th {
    text-align: right;
    padding: .1em .25em;
}

td:last-child {
    width: 100%;
}

.em {
    font-weight: bold;
}

.center {
    text-align: center;
}

.t {
    display: table;
    width: 100%;
    border-spacing: .25em;
}

.tr {
    display: table-row;
}

.tr>* {
    display: table-cell;
}

#count-type>label {
    width: 4em;
    font-size: x-small !important;
}

#translation {
    padding: 1em;
    vertical-align: top;
    width: 100%;
}

section {
    padding: .5em;
    margin: 1em;
    display: inline-block;
}

footer {
    border-top: 2px solid;
    width: 100%;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: .25em;
}

footer>span:first-of-type {
    float: left;
}

footer>span:last-of-type {
    float: right;
}

a:link {
    text-decoration: underline !important;
}