label {
    display: table-row;
}

h3 {
    margin: 1em;
}

input[type=text] {
    font: larger monospace !important;
    border-radius: .5em;
    margin-bottom: .25em;
}

input[type=text], label>span {
    text-align: right;
    display: table-cell;
    padding-right: .5em;
}

.center {
    text-align: center;
}

.tr {
    display: table-row;
}

.roundy {
    display: table-cell;
    border-radius: 1em;
}

input[type=radio] {
    font-size: smaller;
}

#widget-bar {
    margin-top: .5em;
}

#count-type {
    margin: 0;
}

#translation {
    padding: 1em;
    vertical-align: top;
    width: 90%;
}

footer {
    clear: both;
}