body {
    max-width: 960px;
    margin: auto;
    min-height: 100%;
}

h3 {
    margin: 1em;
}

[contenteditable] {
    font: larger monospace !important;
    border-width: 3px !important;
    border-style: groove !important;
    text-overflow: ellipsis;
    text-align: right;
    width: 100%;
}

fieldset>div>label {
    text-align: right;
    padding-right: .5em;
}

.em {
    font-weight: bold;
}

.center {
    text-align: center;
}

.t {
    display: table;
    width: 100%;
    border-spacing: .25em;
}

.tr {
    display: table-row;
}

.tr>* {
    display: table-cell;
}

#widget-bar>* {
    margin: 0 .5em;
}

#count-type {
    font-size: small !important;
    margin: 0;
}

#translation {
    padding: 1em;
    vertical-align: top;
    width: 70%;
}

footer {
    border-top: 2px solid;
    width: 100%;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: .25em;
}

footer>span:first-of-type {
    float: left;
}

footer>span:last-of-type {
    float: right;
}

a:link {
    text-decoration: underline !important;
}